:root {
	--accent: rgb(120, 120, 200);
	--accent-shadow: rgb(150, 150, 250);
	--accent-2: rgb(180, 50, 180);
	--accent-2-shadow: rgb(250, 100, 250);
	--accent-text: rgb(50, 50, 255);

	--common: rgb(220, 220, 220);
	--rare: rgb(30, 220, 30);
	--epic: rgb(220, 30, 220);
	--legendary: rgb(255, 255, 0);
	--mythic: rgb(230, 20, 20);

	--chest: rgb(150, 100, 0);
	--gold: #FFD700;
	--dot-c1: rgba(25, 25, 100, 0.3);
	--dot-c2: rgba(25, 25, 100, 0.9);

	--bars-height: 3.5rem;
	--dialog-bg: rgba(0, 0, 0, 0.5);

	--bg: rgb(120, 120, 200);
	--header-bg: rgb(150, 150, 255);
	--button-bg: rgb(10, 10, 10);
	--text: black;
	--main-bg: rgb(100, 100, 150);
	--text-bg: rgba(230, 230, 230, 0.7);
}
.padding-5 {
	padding: 0.5rem;
}
.width100 {
	width: 100%;
}
.width-height-100 {
	width: 100%;
	height: 100%;
}
.cursor-pointor {
	cursor: pointer;
}
.position-fixed {
	position: fixed;
}
.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
.border-circle {
	border-radius: 50%;
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.flex-align {
	align-items: center;
}
.flex-justify {
	justify-content: center;
}
.shadow-down {
	box-shadow: 0 1px var(--text);
}
.soft-border {
	border-radius: 8px;
	border: 1px solid var(--gold);
}
.transition {
	transition: all 0.3s ease;
}
.bounce-animation {
	animation: bounce 0.3s ease;
}
.active-tab {
	position: relative;
}
.active-tab::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	height: 3px;
	background-color: var(--gold);
	border-radius: 4px;
	animation: border-appear 0.3s ease;
	transform: translateX(-50%);
}
@keyframes border-appear {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}
.current-weapon-highlight {
	position: relative;
}
.current-weapon-highlight::after, .current-weapon-highlight::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	transform: translate(-3px, -3px);
	border-radius: 8px;
	animation: bgRotate 1s linear infinite;
	background: conic-gradient(from var(--angle) at 50% 50%, var(--accent-text) 0%, var(--accent-text) 5%, transparent 10%, transparent 40%, var(--accent-text) 45%, var(--accent-text) 55%, transparent 60%, transparent 90%, var(--accent-text) 95%);;
	z-index: -1;
}
.current-weapon-highlight::before {
	filter: blur(10px);
	opacity: 0.6;
}
.appear {
	animation: appear 0.3s ease;
}
.info-text {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 8px;
	color: white;
	display: none;
	z-index: 10;
}

@keyframes bounce {
	0%, 100% {
		transform: scale(1);
		color: var(--gold);
	}
	25% {
		transform: scale(0.9);
		color: var(--gold);
	}
	50% {
		transform: scale(1.1);
		color: var(--gold);
	}
	
}
@keyframes bgRotate {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}
@keyframes appear {
	from {
		transform: scale(0.5) translateY(2rem);
		opacity: 0;
	}
	to {
		transform: scale(1) translateY(0rem);
		opacity: 1;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html {
	width: 100%;
	height: 100%;
}
body {
	background-color: var(--bg);
	overflow: hidden;
	user-select: none;
	min-width: 380px;
}
h1 {
	font-size: clamp(1.5rem, 10vw, 40px);
	color: transparent;
	background: linear-gradient(90deg, var(--accent-2), var(--gold), var(--accent-2));
	background-clip: text;
	animation: bgFlow 3s linear infinite;
	background-size: 500% 100%;
}
@keyframes bgFlow {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}
header {
	height: 3.5rem;
	top: 0;
	left: 0;
	background-color: var(--header-bg);
}
main {
	width: clamp(380px, 100%, 1500px);
	height: calc(100% - 4rem);
	top: 4rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--main-bg);
}
.game {
	width: clamp(380px, 100%, 1500px);
	height: 100%;
	padding: 0.5rem;
	display: flex;
}
.game-window {
	width: clamp(360px, 75%, 1200px);
	height: 90%;
	overflow: hidden;
	background-color: transparent;
	background-attachment: scroll !important;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	transition: all 0.4s ease-in-out;
}
.top-bar, .bottom-bar {
	left: 50%;
	width: calc(clamp(360px, 75%, 1200px));
	transform: translateX(-50%);
	height: var(--bars-height);
	background-color: var(--accent);
	gap: clamp(28px, 10vw, 48px);
	z-index: 10;
}
.top-bar {
	background: linear-gradient(to bottom, var(--accent-shadow) 30%, var(--accent) 50%);
	top: 0.5rem;
}
.bottom-bar {
	background: linear-gradient(to bottom, var(--accent) 50%, var(--accent-shadow) 70%);
	bottom: 1rem;
}
.top-buttons, .bottom-buttons {
	position: relative;
	cursor: pointer;
	color: white;
	transition: all 0.5s ease;
	transform: scale(1);
}
.top-buttons {
	padding: 0.3rem;
	display: flex;
	background-color: transparent;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	border: none;
}
.bottom-buttons {
	padding: 0.5rem;
	font-size: clamp(14px, 1.2rem, 20px);
	border: none;
	transition: all 0.2s ease;
	background: radial-gradient(circle at top, var(--accent-text), var(--accent-2) 60%);
	box-shadow: 0 3px 6px var(--accent-text), 3px 3px 6px var(--accent-2), -3px 0 6px var(--accent-2);
}

.button-icons {
	width: 28px;
	height: 28px;
}
.hero-stats {
	height: 40px;
	width: 20rem;
	top: calc(var(--bars-height) + 0.5rem);
	left: 50%;
	transform: translateX(-50%);
	padding: 0.5rem;
	gap: 4.5rem;
	background-color: transparent;
}
.monster-stats {
	min-height: 60px;
	width: clamp(240px, 30%, 320px);
	top: calc(var(--bars-height) + 1rem);
	right: 0;
	background-color: var(--accent-text);
	padding: 0.5rem;
	gap: 0.5rem;
	display: none;
}
.monster-top {
	width: 100%;
	justify-content: space-between;
	gap: 0.5rem;
}
.monster-stat {
	color: white;
	font-size: clamp(14px, 5vw, 18px);
}
.monsterName, .monsterLevel {
	font-weight: bold;
}
.hero-health-stat {
	width: clamp(200px, 30%, 320px);
	height: 30px;
	left: 0;
	padding: 0.5rem;
	bottom: calc(var(--bars-height) + 3rem);
	background-color: var(--accent-text);
	display: none;
}
.monster-health, .hero-health {
	width: 100%;
	height: 16px;
	background-color: #999;
	border-radius: 999px;
	overflow: hidden;
	border: 2px solid #444;
}
.monster-progress, .hero-progress {
	width: 75%;
	height: 100%;
	background-color: #50cc50;
	border-radius: 999px;
	transition: width 0.3s ease-out;
}
.monster-hp, .hero-hp {
	position: absolute;
	font-size: 0.8rem;
	text-align: center;
	width: 100%;
}
.monster-container {
	right: 0;
	top: calc(var(--bars-height) + 90px);
	width: clamp(150px, 25%, 300px);
	aspect-ratio: 1 / 1;
	display: block;
	background-color: transparent;
}
.monster-damage, .hero-damage {
	color: red;
	text-shadow: 0 0 6px red;
	font-size: 6rem;
	display: none;
	z-index: 20;
}
.monster-damage {
	top: 45%;
	right: 20%;
	animation: monsterHit 0.5s ease-in;
}
.hero-damage {
	bottom: 45%;
	left: 20%;
	animation: heroHit 0.5s ease-in;
}
@keyframes monsterHit {
	0% {
		transform: scale(1) translate(0px, 0px);
	}
	100% {
		transform: scale(0.3) translate(150px, -150px);
	}
}
@keyframes heroHit {
	0% {
		transform: scale(1) translate(0px, 0px);
	}
	100% {
		transform: scale(0.3) translate(-150px, 150px);
	}
}
.hero-image, .monster-image {
	width: clamp(200px, 25%, 300px);
	height: auto;
	display: none;
	bottom: 8.5rem;
}
.hero-image {
	left: 0;
	bottom: 8.5rem;
}
.monster-image {
	right: 0;
	top: 8.5rem;
}
.dialog {
	width: clamp(360px, 75%, 1200px);
	min-height: 2rem;
	left: 50%;
	bottom: calc(var(--bars-height) + 2rem);
	background-color: var(--dialog-bg);
	color: white;
	transform: translateX(-50%);
	text-align: center;
	font-size: clamp(16px, 5vw, 20px);
	padding: 0.5rem 2rem;
}
.hero-profile {
	top: 0%;
	left: 50%;
	width: 340px;
	height: 400px;
	transform: translateX(-50%);
	border-radius: 12px;
	background-color: transparent;
	background-image: url("assests/Hero Bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	animation: entry 0.5s ease-out;
}
@keyframes entry {
	from {
		transform: translate(-50%, -100%);
	}
	to {
		transform: translate(-50%, 0%);
	}
}
.profile-image-cover {
	width: 100%;
	margin-top: 5rem;
}
.profile-image {
	width: 200px;
	height: auto;
}
.hero-info {
	width: 60%;
	position: relative;
	align-items: start;
	padding: 0.5rem;
	background-color: transparent;
}
.info, .info-main {
	font-size: 1.2rem;
	color: black;
}
.info-name {
	position: absolute;
	top: 21%;
	left: 50%;
	transform: translateX(-50%);
	color: var(--gold);
	font-size: 1.25rem;
}
.info-main {
	font-weight: bold;
}
.inventory-box {
	top: -7%;
	left: 50%;
	width: 350px;
	height: 520px;
	transform: translateX(-50%);
	display: none;
	background-color: transparent;
	background-image: url("assests/inventory Bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	animation: entry 0.5s ease-out;
}
.inventory-info {
	top: 24%;
	left: 50%;
	transform: translateX(-50%);
	color: var(--gold);
	font-size: 1.75rem;
	padding: 0.5rem;
}
.floating-ani {
	animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
	0%, 100% {
		transform: translate(-50%, 0%);
	}
	50% {
		transform: translate(-50%, 3%);
	}
}
/* for ? in inventory and game */
.inventory-info-mark, .game-info-mark {
	position: absolute;
	font-size: 1rem;
	color: var(--gold);
	padding: 3px 8px;
	border-radius: 50%;
	cursor: pointer;
}
.inventory-info-mark {
	top: 27%;
	left: 70%;
	background-color: var(--accent);
}
.game-info-mark {
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	background-color: var(--accent-2);
}
.inventory-info-text {
	width: 100%;
	top: 33%;
	left: 50%;
	transform: translateX(-50%);
}
.game-info-text {
	width: 250px;
	height: clamp(200px, auto, 400px);
	top: 1rem;
	right: 2rem;
	overflow-y: auto;
}
.inventory-info-mark:hover + .inventory-info-text, .game-info-mark:hover + .game-info-text {
	display: block;
}
.inventory-weapons {
	top: 38%;
	left: 22%;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 0.4rem;
}
.weapon-image {
	position: absolute;
	width: 95px;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.weapons {
	width: 100px;
	height: 95px;
	border-radius: 6px;
	background-color: var(--accent-2);
	position: relative;
}
.weapon-name {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.4rem;
	padding: 0.3rem;
	font-size: 0.9rem;
	color: white;
	border-radius: 0 0 6px 6px;
	background-color: rgba(50, 150, 150, 0.7);
}
.weapon-quanity {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 1.2rem;
	height: 1.2rem;
	font-size: 1rem;
	color: white;
	border-radius: 0 0 6px 0;
	background-color: var(--accent-text);
	text-align: center;
}
.page-box {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 140px;
	padding: 0.5rem;
	background-color: var(--accent);
	gap: 1rem;
	border-radius: 12px;
	display: none;
}
.page-item {
	width: 100px;
	height: 120px;
	background-color: var(--accent-2);
	position: relative;
	padding: 0.5rem;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
}
.page-item-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: auto;
}
.page-item-name, .page-item-price {
	position: absolute;
	font-size: 1.1rem;
	color: white;
	background-color: var(--accent-text);
	width: 100px;
	text-align: center;
	z-index: 10;
}
.page-item-name {
	top: 0;
	left: 0;
}
.page-item-price {
	left: 0;
	bottom: 0;
}
/* Lucky Block Start*/
.lucky-box {
	min-height: 540px;
	gap: 0.5rem;
	display: none;
}
.lucky-game {
	width: 80%;
	height: 90%;
	min-width: 320px;
	min-height: 480px;
	background-color: var(--common);
	background-image: url('assests/ic_sun.svg');
	background-repeat: repeat;
}
.lucky-game-cover {
	top: 0;
	left: 0;
	background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
	padding: 1rem;
	gap: 2rem;
}
.box {
	width: 300px;
	height: 300px;
	z-index: 5;
}
.dot-box {
	gap: 1rem;
	background-color: transparent;
	padding: 12px 16px;
}
.dot {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 5px solid black;
	background: radial-gradient(circle at 50% 50%, var(--dot-c1), var(--dot-c2));
	transition: all 0.3s ease;
}
.dot-used {
	width: 16px;
	height: 16px;
	border: 2px solid black;
}
.open-lucky-text {
	position: fixed;
	bottom: 5rem;
	left: 50%;
	transform: translateX(-50%) scale(1);
	font-size: 1.2rem;
	padding: 6px 4px;
	border-radius: 8px;
	color: white;
	animation: textBounce 1s ease infinite;
}
@keyframes textBounce {
	0%, 30%, 75%, 90%, 100% {
		transform: translateX(-50%) scale(1);
	}
	15%, 60% {
		transform: translateX(-50%) scale(1.2);
	}
}

.result {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.result-content {
	min-width: 280px;
	min-height: 200px;
    background: var(--bg);
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    border: 2px solid var(--text);
    box-shadow: 0 0 10px black;
}

.result-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text);
}

.ok {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 3px solid var(--text);
    border-radius: 6px;
    background: var(--header-bg);
    color: var(--text);
    cursor: pointer;
    box-shadow: -3px 3px var(--text);
    transition: all 0.3s ease;
}
.ok:active {
	box-shadow: 0 0 var(--text);
	transform: translate(-3px, 3px);
}
/* Lucky Block End*/

/* Game Elements */
.xpText, .goldText, .healthText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	font-size: 1.2rem;
	color: white;
	-webkit-text-stroke: 0.2px black;
	text-shadow: 1px 1px 3px black;
}
.xp-progress-bar {
	background: linear-gradient(to right, var(--gold) 0%, var(--gold) 75%, var(--dialog-bg) 75%, var(--dialog-bg) 100%);
	overflow: hidden;
}
.coin-icon, .xp-icon, .health-icon {
	width: 2rem;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	cursor: pointer;
	animation: none;
}
.coin-icon, .health-icon {
	height: 2rem;
	border-radius: 50%;
}
.coin-icon {
	border: 4px solid #FFd934;
	background: radial-gradient(circle at center, #EAC934, #AA9911);
	color: #FFd934;
	box-shadow: -2px 0px 0px -0.2px #BBA912;
}
.xp-icon {
	height: 40px;
	border: 3px solid var(--gold);
	border-top: none;
	background-color: var(--accent-text);
	color: var(--gold);
	border-radius: 0 0 5px 5px;
}
.health-icon {
	background: radial-gradient(circle at center, #FF6666, #CC3333);
	border: 4px solid #FF9999;
	color: #AA1212;
	-webkit-text-stroke: 1px #AA1212;
	text-shadow: 1px 1px 3px #880000;
}
.game-element-text {
	position: absolute;
	width: 8rem;
	top: calc(100% + 0.5rem);
	left: 3rem;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.3);
	-webkit-text-stroke: 0;
	text-shadow: none;
	font-size: clamp(0.75rem, 1vw, 1rem);
	padding: 4px 8px;
	border-radius: 8px;
	color: white;
	backdrop-filter: blur(4px);
	display: none;
}
.game-element-text::before {
	content: '';
	position: absolute;
	width: 0.8rem;
	height: 0.5rem;
	top: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.3);
	clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.xp-icon-text {
	color: #56d9ff;
}
.gold-icon-text {
	color: #ffd956;
}
.health-icon-text {
	color: #ff5656;
}
.xp-icon:hover .xp-info-text, .coin-icon:hover .gold-info-text, .health-icon:hover .health-info-text {
	display: block;
}
@keyframes pulse {
	0%, 50%, 100% {
		transform: scale(1);
	}
	25%, 75% {
		transform: scale(1.08);
	}
}
.icon-text-bg {
	position: absolute;
	width: 4rem;
	height: 1.6rem;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	background-color: var(--dialog-bg);
	border: 2px solid var(--gold);
	border-radius: 0 999px 999px 0;
	z-index: -1;
}


@media(max-width: 600px) {
	.box {
		width: 200px;
		height: 200px;
	}
}
@media(max-width: 550px) {
	.score-box, .score {
		font-size: 1rem;
	}
}
@media(max-width: 480px) {
	.score-box, .score {
		font-size: 0.9rem;
	}
}
@media(hover: hover) and (pointer: fine) {
	#lucky:hover {
		transform: scale(1.1);
	}
	.bottom-buttons:focus-visible, .top-buttons:focus-visible {
		outline: 3px solid white;
	}
	.bottom-buttons {
		outline: 2px solid black;
		outline-offset: -5px;
	}
	.bottom-buttons:hover {
		outline: 3px solid var(--gold);
		outline-offset: 4px;
	}
	.top-buttons:hover {
		color: var(--accent-text);
	}
	.top-buttons:hover:active {
		color: var(--gold);
	}
}