:root {
	--common: rgb(220, 220, 220);
	--rare: rgb(30, 220, 30);
	--epic: rgb(220, 30, 220);
	--legendary: rgb(255, 255, 0);
	--mythic: rgb(230, 20, 20);
}
.light {
	--bg: rgb(120, 120, 200);
	--header-bg: rgb(150, 150, 255);
	--button-bg: rgb(10, 10, 10);
	--text: black;
	--main-bg: rgb(100, 100, 150);
	--text-bg: rgba(230, 230, 230, 0.5);
	--dot-c1: rgba(25, 25, 100, 0.3);
	--dot-c2: rgba(25, 25, 100, 0.9);
}
.dark {
	--bg: rgb(50, 50, 120);
	--header-bg: rgb(20, 20, 100);
	--button-bg: rgb(80, 80, 80);
	--text: white;
	--main-bg: rgb(10, 10, 80);
	--text-bg: rgba(10, 10, 10, 0.5);
	--dot-c1: rgba(180, 180, 230, 0.3);
	--dot-c2: rgba(180, 180, 230, 0.9);
}
.padding-5 {
	padding: 0.5rem;
}
.width100 {
	width: 100%;
}
.cursor-pointor {
	cursor: pointer;
}
.position-fixed {
	position: fixed;
}
.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
.border-circle {
	border-radius: 50%;
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.flex-align {
	align-items: center;
}
.flex-justify {
	justify-content: center;
}
.shadow-down {
	box-shadow: 0 1px var(--text);
}
.smooth-shadow-around {
	box-shadow: 0 0 6px 1px black;
}
.soft-border {
	border-radius: 8px;
	border: 1px solid var(--text);
}
.transition {
	transition: all 0.3s ease;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--bg);
}
h1 {
	color: var(--text);
}
header {
	height: 3.5rem;
	top: 0;
	left: 0;
	background-color: var(--header-bg);
	justify-content: space-between;
}
.themeButton {
	padding: 6px;
	border: none;
	background-color: var(--button-bg);
	color: #ffffff;
	transition: transform 0.3s ease;
}
.themeButton:hover {
	transform: scale(1.1);
}
main {
	width: calc(100% - 2rem);
	height: 90vh;
	min-width: 380px;
	margin: 4rem 1rem 0.5rem 1rem;
	background-color: var(--main-bg);
	overeflow-y: auto;
	gap: 0.5rem;
}
.score-box {
	gap: 1rem;
	font-size: 1.3rem;
	color: var(--text);
	padding: 0.5rem 1rem;
	background-color: var(--header-bg);
}
.score {
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--text);
}
.game {
	width: 80%;
	height: 90%;
	min-width: 320px;
	min-height: 500px;
	background: var(--common);
}
.game-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
	padding: 1rem;
	gap: 2rem;
}
.box {
	width: 300px;
	height: 300px;
	background-color: transparent;
	animation: float 3s ease-out infinite;
}
@keyframes float {
	0%, 100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
}
.box-1, .box-2, .box-3 {
	width: 150px;
	height: 150px;
	background: radial-gradient(circle at 50% 50%, white 10%, green 20%, violet 30%, gold 50%, indianred 70%);
	border: 2px solid black;
	transition: all 0.3s ease;
}
.box-1 {
	top: 40%;
	left: 0;
	transform: skewY(30deg);
}
.box-2 {
	top: 40%;
	right: 0;
	transform: skewY(-30deg);
}
.box-3 {
	top: 0;
	left: 25%;
	transform: rotate(-28deg) scaleX(1.17) skew(30deg);
}
.dot-box {
	gap: 1rem;
	background-color: rgba(20, 20, 20, 0.3);
	padding: 12px 16px;
}
.dot {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 5px solid var(--text);
	background: radial-gradient(circle at 50% 50%, var(--dot-c1), var(--dot-c2));
	transition: all 0.3s ease;
}
.dot-used {
	width: 16px;
	height: 16px;
	border: 2px solid var(--text);
}
#lucky {
	max-width: 180px;
	max-height: 180px;
	padding: 16px 6px;
	color: var(--text);
	font-size: 1.3rem;
	border: 5px solid black;
	box-shadow: -3px 3px black;
	background: linear-gradient(120deg, var(--bg), var(--main-bg));
}
#lucky:hover {
	color: white;
	background: linear-gradient(120deg, var(--header-bg), var(--main-bg));
	box-shadow: -3px 3px black;
}
#lucky:active {
	transform: translate(-3px, 3px);
	box-shadow: 0 0 black;
}
.open-text {
	width: 120px;
	top: calc(100% + 15px);
	left: calc(50% - 60px);
	display: none;
	font-size: 1rem;
	padding: 6px 4px;
	border-radius: 8px;
	color: var(--text);
	background-color: var(--text-bg);
}
.open-text::after {
	content: "";
	top: -0.6rem;
	left: calc(50% - 0.4rem);
	position: absolute;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 8px;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background-color: var(--text-bg);
}

.result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.result-content {
	min-width: 280px;
	min-height: 250px;
    background: var(--bg);
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    border: 2px solid var(--text);
    box-shadow: 0 0 10px black;
}

.result-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text);
}

.ok {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 2px solid var(--text);
    border-radius: 6px;
    background: var(--header-bg);
    color: var(--text);
    cursor: pointer;
}
.ok:active {
	transform: scale(0.9);
}

@media(max-width: 550px) {
	.score-box, .score {
		font-size: 1rem;
	}
}

@media(max-width: 450px) {
	.box {
		width: 200px;
		height: 200px;
	}
	.box-1, .box-2, .box-3 {
		width: 100px;
		height: 100px;
	}
	.score-box, .score {
		font-size: 0.9rem;
	}
}