:root {
	--accent: rgb(120, 120, 200);
	--accent-2: rgb(180, 50, 180);
	--accent-text: rgb(50, 50, 255);
	--common: rgb(220, 220, 220);
	--rare: rgb(30, 220, 30);
	--epic: rgb(220, 30, 220);
	--legendary: rgb(255, 255, 0);
	--mythic: rgb(230, 20, 20);
	--chest: rgb(150, 100, 0);
	--gold: #FFD700;
	--dot-c1: rgba(25, 25, 100, 0.3);
	--dot-c2: rgba(25, 25, 100, 0.9);

	--bars-height: 3.5rem;
	--dialog-bg: rgba(0, 0, 0, 0.4);
}
.light {
	--bg: rgb(120, 120, 200);
	--header-bg: rgb(150, 150, 255);
	--button-bg: rgb(10, 10, 10);
	--text: black;
	--main-bg: rgb(100, 100, 150);
	--text-bg: rgba(230, 230, 230, 0.7);
}
.dark {
	--bg: rgb(50, 50, 120);
	--header-bg: rgb(20, 20, 100);
	--button-bg: rgb(80, 80, 80);
	--text: white;
	--main-bg: rgb(10, 10, 80);
	--text-bg: rgba(10, 10, 10, 0.7);
}
.padding-5 {
	padding: 0.5rem;
}
.width100 {
	width: 100%;
}
.width-height-100 {
	width: 100%;
	height: 100%;
}
.cursor-pointor {
	cursor: pointer;
}
.position-fixed {
	position: fixed;
}
.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
.border-circle {
	border-radius: 50%;
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.flex-align {
	align-items: center;
}
.flex-justify {
	justify-content: center;
}
.shadow-down {
	box-shadow: 0 1px var(--text);
}
.smooth-shadow-around {
	box-shadow: 0 0 6px 1px black;
}
.soft-border {
	border-radius: 8px;
	border: 1px solid var(--gold);
}
.transition {
	transition: all 0.3s ease;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--bg);
}
h1 {
	color: var(--text);
}
header {
	height: 3.5rem;
	top: 0;
	left: 0;
	background-color: var(--header-bg);
	justify-content: space-between;
}
.themeButton {
	padding: 6px;
	border: none;
	background-color: var(--button-bg);
	color: #ffffff;
	transition: transform 0.3s ease;
}
.themeButton:hover {
	transform: scale(1.1);
}
main {
	width: calc(100% - 2rem);
	height: 90vh;
	min-width: 380px;
	margin: 4rem auto 0.5rem auto;
	background-color: var(--main-bg);
}
.game {
	margin: 0.5rem;
	padding: 0.5rem;
	display: flex;
}
.game-window {
	width: 70%;
	height: 100%;
	overflow: hidden;
	background: transparent;
	background-attachment: scroll !important;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	transition: all 0.4s ease-in-out;
}
.top-bar, .bottom-bar {
	left: 0;
	height: var(--bars-height);
	background-color: var(--accent);
	gap: 3rem;
	z-index: 10;
}
.top-bar {
	top: 0;
}
.bottom-bar {
	bottom: 0;
}
.top-buttons, .bottom-buttons {
	position: relative;
	cursor: pointer;
	color: white;
	transition: all 0.3 ease;
}
.top-buttons {
	padding: 4px;
	display: flex;
	background-color: transparent;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	border: none;
}
.bottom-buttons {
	padding: 6px 8px;
	font-size: 1.2rem;
	background: linear-gradient(120deg, var(--accent-2), var(--accent));
	border: 2px solid var(--gold);
}
.top-buttons:hover, .bottom-buttons:hover {
	transform: scale(1.1);
	color: var(--accent-text);
}
.top-buttons:active, .bottom-buttons:active {
	transform: scale(0.9);
	color: var(--accent-2);
}
.button-icons {
	width: 28px;
	height: 28px;
}
.hero-stats {
	height: 40px;
	width: clamp(280px, 380px, 480px);
	top: var(--bars-height);
	left: 50%;
	transform: translateX(-50%);
	padding: 0.5rem 1rem;
	gap: 1rem;
	background-color: var(--accent-2);
	border-bottom: 3px solid var(--accent);
}
.hero-stat {
	color: white;
	font-size: 1.2rem;
}
.xpText, .levelText, .goldText, .healthText {
	font-weight: bold;
	font-size: 1.3rem;
}
.monster-stats {
	min-height: 60px;
	width: clamp(240px, 30%, 320px);
	top: calc(var(--bars-height) + 40px);
	right: 0;
	background-color: var(--accent-text);
	padding: 0.5rem;
	gap: 0.5rem;
	display: none;
}
.monster-top {
	width: 100%;
	justify-content: space-between;
	gap: 0.5rem;
}
.monster-stat {
	color: white;
	font-size: 1rem;
}
.monsterName, .monsterLevel {
	font-weight: bold;
}
.hero-health-stat {
	width: clamp(200px, 30%, 320px);
	height: 30px;
	left: 0;
	padding: 0.5rem;
	bottom: calc(var(--bars-height) + 90px);
	background-color: var(--accent-text);
	display: none;
}
.monster-health, .hero-health {
	width: 100%;
	height: 16px;
	background-color: #999;
	border-radius: 999px;
	overflow: hidden;
	border: 2px solid #444;
}
.monster-progress, .hero-progress {
	width: 75%;
	height: 100%;
	background-color: #50cc50;
	border-radius: 999px;
	transition: width 0.3s ease-out;
}
.hero-image, .monster-image {
	width: clamp(200px, 25%, 300px);
	height: auto;
	display: none;
}
.hero-image {
	left: 0;
	bottom: calc(var(--bars-height) + 120px);
}
.monster-image {
	right: 0;
	top: calc(var(--bars-height) + 70px);
}
.dialog {
	min-height: 2rem;
	left: 0;
	bottom: calc(var(--bars-height) + 0.5rem);
	background-color: var(--dialog-bg);
	color: white;
	font-size: 1.2rem;
	text-align: center;
	padding: 0.5rem 2rem;
}
.inventory-box {
	top: calc(var(--bars-height) + 40px + 1rem);
	left: 50%;
	width: 360px;
	height: 360px;
	transform: translateX(-50%);
	border-radius: 12px;
	padding: 1rem;
	display: none;
	grid-template-columns: repeat(3, auto);
	background-color: var(--accent);
	gap: 1rem;
}
.weapons {
	width: 100px;
	height: 100px;
	border-radius: 8px;
	background-color: var(--accent-2);
	padding: 8px;
	overflow: hidden;
	position: relative;
}
.weapon-name {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	padding: 0.4rem;
	font-size: 1rem;
	color: white;
	background-color: rgba(50, 150, 150, 0.5);
}
.weapon-quanity {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 1.2rem;
	height: 1.2rem;
	font-size: 1rem;
	color: white;
	background-color: var(--accent-text);
	text-align: center;
}
.shop-box {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 360px;
	height: 150px;
	padding: 0.5rem;
	background-color: var(--accent);
	gap: 1rem;
	border-radius: 12px;
	display: none;
}
.shop-item {
	width: 100px;
	height: 120px;
	background-color: var(--accent-2);
	position: relative;
	padding: 0.5rem;
	border-radius: 8px;
	overflow: hidden;
}
.shop-item-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: auto;
}
.shop-item-name, .shop-item-price {
	position: absolute;
	font-size: 1.1rem;
	color: white;
	background-color: var(--accent-text);
	width: 100px;
	text-align: center;
	z-index: 10;
}
.shop-item-name {
	top: 0;
	left: 0;
}
.shop-item-price {
	left: 0;
	bottom: 0;
}
/* Lucky Block Start*/
.lucky-box {
	min-height: 540px;
	gap: 0.5rem;
	display: none;
}
.score-box {
	gap: 1rem;
	font-size: 1.3rem;
	color: var(--text);
	padding: 0.5rem 1rem;
	background-color: var(--header-bg);
}
.score {
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--text);
}
.lucky-game {
	width: 80%;
	height: 90%;
	min-width: 320px;
	min-height: 480px;
	background-color: var(--common);
	background-image: url('assests/ic_sun.svg');
	background-repeat: repeat;
}
.lucky-game-cover {
	top: 0;
	left: 0;
	background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
	padding: 1rem;
	gap: 2rem;
}
.box {
	width: 300px;
	height: 300px;
	background-color: transparent;
	animation: float 2.5s ease-out infinite;
}
@keyframes float {
	0%, 100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-15px);
	}
}
.box-1, .box-2, .box-3 {
	width: 150px;
	height: 150px;
	background: repeating-linear-gradient(0deg, var(--chest) 0%, var(--chest) 10px, var(--button-bg) 12px, var(--button-bg) 15px);
	border: 10px solid gold;
	transition: all 0.3s ease;
}
.box-1 {
	width: 200px;
	top: 40%;
	left: 0;
	transform: skewY(30deg);
}
.box-2 {
	top: 45%;
	right: -15%;
	transform: skewY(-30deg);
}
.box-3 {
	height: 200px;
	top: -7%;
	left: 30%;
	transform: rotate(-28deg) scaleX(1.17) skew(30deg);
}
.dot-box {
	gap: 1rem;
	background-color: transparent;
	padding: 12px 16px;
}
.dot {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 5px solid black;
	background: radial-gradient(circle at 50% 50%, var(--dot-c1), var(--dot-c2));
	transition: all 0.3s ease;
}
.dot-used {
	width: 16px;
	height: 16px;
	border: 2px solid black;
}
#lucky {
	max-width: 180px;
	max-height: 180px;
	padding: 16px 6px;
	color: white;
	font-size: 1.3rem;
	border: 5px solid black;
	box-shadow: -3px 3px black;
	background-color: var(--accent);
}
#lucky:hover {
	transform: scale(1.1);
}
#lucky:active {
	transform: translate(-3px, 3px);
	box-shadow: 0 0 black;
}
.open-text {
	width: 120px;
	top: calc(100% + 15px);
	left: calc(50% - 60px);
	display: none;
	font-size: 1rem;
	padding: 6px 4px;
	border-radius: 8px;
	color: var(--text);
	background-color: var(--text-bg);
}
.open-text::after {
	content: "";
	top: -0.6rem;
	left: calc(50% - 0.4rem);
	position: absolute;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 8px;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background-color: var(--text-bg);
}

.result {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.result-content {
	min-width: 280px;
	min-height: 200px;
    background: var(--bg);
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    border: 2px solid var(--text);
    box-shadow: 0 0 10px black;
}

.result-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text);
}

.ok {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 3px solid var(--text);
    border-radius: 6px;
    background: var(--header-bg);
    color: var(--text);
    cursor: pointer;
    box-shadow: -3px 3px var(--text);
    transition: all 0.3s ease;
}
.ok:active {
	box-shadow: 0 0 var(--text);
	transform: translate(-3px, 3px);
}
/* Lucky Block End*/



@media(max-width: 750px) {
	.monster-stat {
		font-size: 0.95rem;
	}
	.game-window {
		width: 80%;
	}
	.bottom-buttons {
		font-size: 1rem;
	}
}
@media(max-width: 650px) {
	.game-window {
		width: 90%;
	}
	.monster-stat {
		font-size: 0.9rem;
	}
}
@media(max-width: 600px) {
	.box {
		width: 200px;
		height: 200px;
	}
	.box-1, .box-2, .box-3 {
		width: 100px;
		height: 100px;
	}
	.box-1 {
		width: 133px;
	}
	.box-3 {
		height: 133px;
	}
	.dialog {
		font-size: 1.1rem;
	}
	.bottom-buttons {
		font-size: 0.9rem;
	}
}
@media(max-width: 550px) {
	.game-window {
		width: 100%;
	}
	.score-box, .score {
		font-size: 1rem;
	}
	.dialog {
		font-size: 1rem;
	}
}
@media(max-width: 480px) {
	.score-box, .score {
		font-size: 0.9rem;
	}
	.dialog {
		font-size: 1rem;
	}
	.monster-stat {
		font-size: 0.8rem;
	}
	.bottom-buttons {
		font-size: 0.8rem;
	}
}